/* Solution force */
:host {
  display: block;
  margin: 0;
  padding: 0;
}

.home-container {
  margin: 0 !important;
  padding: 0 !important;
}

.events-section {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.gaming-footer {
  margin-top: 0 !important;
}
